<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <title>TVRex</title>
  </head>
  <body>
    <header>
        <a href="" class="branding">
            <img class="logo" src="{{ url_for('static', filename= 'images/Logo.PNG') }}" />
            <h1>TVRex</h1>
        </a>
        <nav>
            <ul>
                <li><a href="movies">Movies</a></li>
                <li><a href="tvshows">TV Shows</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <section class="homepage">
        <div class="welcome">
          <h3>What do you want to watch today?</h3>
          <div class="buttons">

            <a href="tvshows"><h2 class="button">TV Shows</h2></a>
            <a href="movies"><h2 class="button">Movies</h2></a>
          </div>
        </div>
        <img class="large_Dino" src="{{ url_for('static', filename= 'images/Logo.PNG') }}" />
      </section>
    </main>
  </body>
</html>