<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <title>TV Show Tracker</title>
  </head>
  <body>
    <header>
        <section class="branding">
          <a href="..">
            <img class="logo" src="{{ url_for('static', filename= 'images/Logo.PNG') }}" />
            <h1>TVRex</h1>
          </a>
        </section>
        <nav>
            <ul>
                <li><a href="">Movies</a></li>
                <li><a href="tvshows">TV Shows</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
      <button id="myButton">Load More</button>
      <script src="{{ url_for('static', filename= 'scripts/main.js') }}"></script>
    </footer>
  </body>
</html>